envs/face-rec/

data/
logs/
.venv/
.fuse_hidden0000003400000022
data/
data_collection/reports
gallery/
certs/
src/checkpoints
src/checkpoints/
*.pth
*.tar

**/__pycache__/
.env

*.log
populate.py
backups/
venv/
*.db
*.sql
*.txt
