albumentations
fastapi
Flask   
flask_cors
asgiref
numpy
opencv_python
opencv_python_headless
pandas
Pillow
psutil
pydantic
qrcode
scipy
torch
torchvision
tqdm
ultralytics
uvicorn
uvicorn[standard]
gunicorn 
rich
python-multipart